@import 'nib/vendor'

@import 'nib/gradients'

vendor-prefixes = o ms moz webkit official

azul = #0265A8
azul-claro =  lighten(azul, 35%)

body 
	border-top 4px solid azul

html
	background url('../imagenes/index.jpg') no-repeat center center fixed
	background-size cover